body
{
    /*Initialisation*/
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /*Apparence*/
    background-color: rgb(255, 255, 255);
    color: pink;
}
*, ::before, ::after
{
    /*Ajustement des proportions*/
    box-sizing: border-box;
}
.loaderContainer
{
    /*Proportions*/
    width: 100vw;
    height: 100vh;
    /*Positionnement*/
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background: rgb(0, 0, 17);
    color: pink;
    /*Animations*/
}
.loader
{
    /*Proportions*/
    width: 10vh;
    height: 10vh;
    /*Positionnement*/
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background: rgb(0, 0, 17);
    color: pink; */
    /*Animations*/
    animation: rotateLoader 2s linear infinite;
}
@keyframes rotateLoader
{
    0%
    {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.fonduOut
{
    /*Faire fondre un élément html !*/
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.hidden
{
    /*Masquer un élément html !*/
    display: none;
}
.fond
{
    /*Proportions*/
    width: 100vw;
    height: 100vh;
    /*Positionnement*/
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background: rgb(255, 255, 255);
    color: pink;
    /*Animations*/
}
.banniere1
{
    /*Proportions*/
    width: 100vw;
    height: 25vh;
    /*Positionnement*/
    z-index: 1;
    position: absolute;
    left: 0%;
    top: 0%;
    /* transform: translate(-50%,-50%); */
    /*Apparence*/
    background: rgb(0, 5, 53);
    color: pink;
    /*Animations*/
}
.banniere2
{
    /*Proportions*/
    width: 100vw;
    height: 2vh;
    /*Positionnement*/
    z-index: 1;
    position: absolute;
    left: 0%;
    top: 25%;
    /* transform: translate(-50%,-50%); */
    /*Apparence*/
    background: rgb(153, 115, 255);
    color: pink;
    /*Animations*/
}
.icon
{
    /*Proportions*/
    width: 13vh;
    height: 13vh;
    /*Positionnement*/
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background: rgb(153, 115, 255); */
    color: pink;
    /*Animations*/
}
.titre
{
    /*Proportions*/
    font-size: 3vh;
    /*Positionnement*/
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 19%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background: rgb(153, 115, 255); */
    color: rgb(241, 236, 255);
    font-weight: normal;
    /*Animations*/
}
.message
{
    /*Proportions*/
    font-size: 2vh;
    /*Positionnement*/
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 28%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background: rgb(153, 115, 255); */
    color: rgb(17, 0, 63);
    font-weight: normal;
    font-style: italic;
    /*Animations*/
}
.oeuvre1
{
    /*Proportions*/
    width: 70vw;
    /* height: 13vh; */
    /*Positionnement*/
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background: rgb(153, 115, 255); */
    color: pink;
    /*Animations*/
}
.fin
{
    /*Proportions*/
    font-size: 2vh;
    /*Positionnement*/
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 140%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background: rgb(153, 115, 255); */
    color: rgb(17, 0, 63);
    font-weight: normal;
    font-style: italic;
    /*Animations*/
}