body
{
    /*Initialisation*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*Apparence*/
    background-color: rgb(144, 166, 238);
    color: pink;
}
*, ::before, ::after
{
    /*Ajustement des proportions*/
    box-sizing: border-box;
}
.loaderContainer
{
    /*Proportions*/
    width: 100vw;
    height: 100vh;
    /*Positionnement*/
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background: linear-gradient(180deg,rgb(0, 0, 17)0%,rgb(0, 0, 17)50%,rgb(0, 0, 17)100%);
    /*Animations*/
}
.loader
{
    /*Proportions*/
    width: 10vh;
    height: 10vh;
    /*Positionnement*/
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background: linear-gradient(180deg,red,green,blue); */
    /*Animations*/
    animation: rotateLoader 2s linear infinite;
}
@keyframes rotateLoader
{
    0%
    {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.fonduOut
{
    /*Faire fondre un élément html*/
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.hidden
{
    /*Masquer un élément html*/
    display: none;
}
.fond
{
    /*Proportions*/
    width: 100vw;
    height: 10000px;
    /*Positionnement*/
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background: linear-gradient(180deg,rgb(255, 255, 255)0%,rgb(255, 255, 255)50%,rgb(255, 255, 255)100%);
    /*Animations*/
}
.banniere1
{
    /*Proportions*/
    width: 100vw;
    height: 50vh;
    /*Positionnement*/
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background: linear-gradient(90deg,rgb(3, 0, 39)0%,rgb(3, 0, 39)50%,rgb(3, 0, 39)100%);
    /*Animations*/
}
.banniere2
{
    /*Proportions*/
    width: 100vw;
    height: 3vh;
    /*Positionnement*/
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background: linear-gradient(90deg,rgb(168, 160, 252)0%,rgb(172, 163, 255)50%,rgb(156, 149, 255)100%);
    /*Animations*/
}
.icon
{
    /*Proportions*/
    width: 13vh;
    height: 13vh;
    /*Positionnement*/
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background: linear-gradient(90deg,rgb(168, 160, 252)0%,rgb(172, 163, 255)50%,rgb(156, 149, 255)100%); */
    /*Animations*/
}
.titre
{
    /*Proportions*/
    font-size: 3vh;
    font-weight: normal;
    /*Positionnement*/
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 18.5%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    color: white;
    /* background: linear-gradient(90deg,rgb(168, 160, 252)0%,rgb(172, 163, 255)50%,rgb(156, 149, 255)100%); */
    /*Animations*/
}
.message
{
    /*Proportions*/
    font-size: 2vh;
    font-weight: normal;
    font-style: italic;
    /*Positionnement*/
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 27%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    color: rgb(0, 4, 63);
    /* background: linear-gradient(90deg,rgb(168, 160, 252)0%,rgb(172, 163, 255)50%,rgb(156, 149, 255)100%); */
    /*Animations*/
}