body
{
    /*Initialisation*/
    margin: 0;
    padding: 0;
    /*Apparence*/
    background-color: black;
    color: white;
}
*, ::before, ::after
{
    /*Ajustement des proprotions*/
    box-sizing: border-box;
}
.loaderContainer
{
    /*Ptoportions*/
    width: 100vw;
    height: 100vh;
    /*Positionnment*/
    z-index: 9999;
    position: fixed;
    left: 0vw;
    top: 0vh;
    /* transform: translate(-50%,-50%); */
    /*Apparence*/
    background: linear-gradient(180deg,rgb(0, 0, 17),rgb(0, 0, 17),rgb(0, 0, 17));
    /*Animations*/
}
.loader
{
    /*Ptoportions*/
    width: 10vh;
    height: 10vh;
    /*Positionnment*/
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /*Animations*/
    animation: rotateLoader 2s linear infinite;
}
@keyframes rotateLoader
{
    0%
    {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.fonduOut
{
    /*Faire fondre un élemnt html !*/
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.hidden
{
    /*Masquer un élemnt html !*/
    display: none;
}
.fond
{
    /*Ptoportions*/
    width: 100vw;
    height: 100vh;
    /*Positionnment*/
    z-index: 0;
    position: fixed;
    left: 0vw;
    top: 0vh;
    /* transform: translate(-50%,-50%); */
    /*Apparence*/
    background: linear-gradient(180deg,rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255));
    /*Animations*/
}
.banniere1
{
    /*Ptoportions*/
    width: 100vw;
    height: 25vh;
    /*Positionnment*/
    z-index: 1;
    position: fixed;
    left: 0vw;
    top: 0vh;
    /* transform: translate(-50%,-50%); */
    /*Apparence*/
    background: linear-gradient(90deg,rgb(0, 0, 17),rgb(0, 0, 34),rgb(0, 0, 68));
    /*Animations*/
}
.banniere2
{
    /*Ptoportions*/
    width: 100vw;
    height: 2vh;
    /*Positionnment*/
    z-index: 2;
    position: fixed;
    left: 0vw;
    top: 25vh;
    /* transform: translate(-50%,-50%); */
    /*Apparence*/
    background: linear-gradient(90deg,rgb(152, 152, 255),rgb(159, 159, 255),rgb(172, 172, 255));
    /*Animations*/
}
.icon
{
    /*Ptoportions*/
    width: 12.5vh;
    height: 12.5vh;
    /*Positionnment*/
    z-index: 3;
    position: fixed;
    left: 50vw;
    top: 3vh;
    transform: translate(-50%,0%);
    /*Apparence*/
    /* background: linear-gradient(90deg,rgb(152, 152, 255),rgb(159, 159, 255),rgb(172, 172, 255)); */
    /*Animations*/
}
.titre
{
    /*Ptoportions*/
    font-size: 3vh;
    /*Positionnment*/
    z-index: 3;
    position: fixed;
    left: 50vw;
    top: 16.5vh;
    transform: translate(-50%,0%);
    /*Apparence*/
    font-weight: normal;
    /* background: linear-gradient(90deg,rgb(152, 152, 255),rgb(159, 159, 255),rgb(172, 172, 255)); */
    /*Animations*/
}
.message
{
    /*Ptoportions*/
    font-size: 2vh;
    /*Positionnment*/
    z-index: 3;
    position: fixed;
    left: 50vw;
    top: 27vh;
    transform: translate(-50%,0%);
    /*Apparence*/
    font-weight: normal;
    font-style: italic;
    color: black;
    /* background: linear-gradient(90deg,rgb(152, 152, 255),rgb(159, 159, 255),rgb(172, 172, 255)); */
    /*Animations*/
}
.oeuvre1
{
    /*Ptoportions*/
    width: 50vw;
    /* height: 12.5vh; */
    /*Positionnment*/
    z-index: 3;
    position: fixed;
    left: 50vw;
    top: 40vh;
    transform: translate(-50%,0%);
    /*Apparence*/
    /* background: linear-gradient(90deg,rgb(152, 152, 255),rgb(159, 159, 255),rgb(172, 172, 255)); */
    /*Animations*/
}