body
{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: white;
}
h1
{
    margin: 0;
    padding: 10vh;
    background: linear-gradient(90deg,red,rgb(0, 204, 255),blue);
    color: white;
    font-weight: normal;
    border-radius: 10vh;
}
h1:hover
{
    cursor: pointer;
}